body{
    font-family: 'Architects Daughter', cursive !important;
}

p{
    font-size: x-large;
}

.fondo{
    background-color: #eee460;

}

.imagen{
    max-width: 280px;
}



/* Doy movimiento a la flecha*/
@keyframes movHor {

    0% {
      top: 0px; }
    25% {
      top: -10px; }
    50% {
      top: -20px; }
    75% {
      top: -10px; }
    100% {
      top: 0px; } }
  
  .movimiento {
    position: relative;
    animation-name: movHor;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite; }



@media  (max-width: 777px) {
    .no-responsive{
        display: none;
    }
}